/*/*.o
/*/*.so
/*/*.exe
/Makefile
/build/Makefile.common
/build/Makefile.package
/build/Makefile.top
/build/subst
/build/subst.in
/config.log
/config.status
/configure
/include/sav-config.h.in
/tags

