.*
*~
*.orig
*.rej
*.tmp
config.h
/TAGS
/GTAGS
/Makefile
/aclocal.m4
/config.cache
/config.log
/config.status
/configure
/tags

*.o
*.so
*.cmd

/build/Makefile.common
/build/Makefile.package
/build/Makefile.top
/build/subst
/build/subst.in

/etc/*.example
/include/svf-config.h
/include/svf-config.h.in
/test/lib/package.ksh
/test/etc
/test/log
/test/tmp

