## Sample smb.conf configuration file for svf-fsav
##
## You can use this file in your smb.conf as the following:
## [global]
## include = @SAMBA_CONFIGDIR@/smb.svf-fsav.conf

vfs objects = svf-fsav

## Scan files while opening
## default: yes
svf-fsav:scan on open = yes

## Scan files while closing
## default: no
svf-fsav:scan on close = no

## Scan archived files (Tar, ZIP and so on)
## default: no
svf-fsav:scan archive = no

## Max scan depth in nested archived files
## default: 0 (do not scan archived files in archived files)
svf-fsav:max nested scan archive = 0

## Scan MIME-formatted files
## default: no
svf-fsav:scan mime = no

## Do not scan files larger than X bytes
## default: 100000000 (100MB)
svf-fsav:max file size = 100000000

## Do not scan files smaller than X bytes
## default: 0
svf-fsav:min file size = 10

## What to do with an infected file
## nothing:	Do nothing (default)
## quarantine:	Try to move to quantine directory
## delete:	Delete infected file
svf-fsav:infected file action = nothing

## Where to move infected files
svf-fsav:quarantine directory  = @SAMBA_LOCKDIR@/svf/quarantine
## Prefix for files in quarantine directory
svf-fsav:quarantine prefix = svf.
## Suffix for files in quarantine directory
svf-fsav:quarantine suffix = .infected
## If keep tree is set, the directory structure relative
## to the share is maintained in the quarantine directory
svf-fsav:quarantine keep tree = yes
## If keep tree is set, the original file name is kept, with a random suffix.
svf-fsav:quarantine keep name = yes
## Prefix for files in rename action
svf-fsav:rename prefix = svf.
## Suffix for files in rename action
svf-fsav:rename suffix = .infected

## External command to run on an infected file is found
## default: none
;svf-fsav:infected file command = @SAMBA_DATADIR@/bin/svf-notify --mail-to virusmaster@example.com --cc "%U@example.com" --from samba@example.com --subject-prefix "Samba: Infected File: "

## External command to run on scan error
## default: none
;svf-fsav:scan error command = @SAMBA_DATADIR@/bin/svf-notify --mail-to virusmaster@example.com --from samba@example.com --subject-prefix "Samba: Scan Error: "

